BASE_TOKEN=replace_with_base_token
STAGING_TABLE_ID=replace_with_staging_table_id
PRODUCTION_TABLE_ID=replace_with_production_table_id
SOURCE_TABLE_ID=replace_with_source_table_id
DRIVE_FOLDER_TOKEN=replace_with_drive_folder_token
CHANGE_LOG_TABLE_ID=replace_with_change_log_table_id
FEISHU_DOMAIN=https://open.feishu.cn
IDENTITY=user
LARK_CLI=lark-cli
WORK_DIR=.product_page_staging_work

